@font-face {
   font-family: 'Arad';
   src: url('/Font/Arad-Regular.woff2');
}
@font-face {
   font-family: 'Aradbold';
   src: url('/Font/Arad-Bold.woff2');
}
@font-face {
   font-family: 'Aradmed';
   src: url('/Font/Arad-Medium.woff2');
}
@font-face {
   font-family: 'Aradthin';
   src: url('/Font/Arad-Thin.woff2');
}
@font-face {
   font-family: 'Aradxbold';
   src: url('/Font/Arad-ExtraBold.woff2');
}