<div class="w-full">
  <div class="w-[95%] md:w-[65%] mx-auto px-4 py-3">
    <div id="how" class="grid grid-cols-1 lg:grid-cols-2 gap-y-8 lg:gap-x-10 text-[#E4E4E7] px-5 lg:px-2">

      <div class="text-center flex flex-col h-full">
        <h2 class="text-2xl text-[#8B5CF6] font-[Aradbold]">نحوه ثبت و دریافت سفارش…</h2>
        <p class="flex-1 mt-4 leading-relaxed">
          برای ثبت سفارش کافی‌ست محصول مورد نظر و قیمت آن را در سایت مشاهده کنید، سپس از طریق تلگرام به پشتیبانی ما پیام دهید و سفارش خود را ثبت کنید. بعد از ثبت سفارش، تیم ما بلافاصله کارهای لازم را انجام می‌دهد و فقط کافی است کمی صبر داشته باشید تا سفارش شما آماده شود.
        </p>
      </div>

      <div class="text-center flex flex-col h-full">
        <h1 class="text-2xl text-[#8B5CF6] font-[Aradbold]">تـــاز، فروشگاه محصولات دیجیتالی</h1>
        <p class="flex-1 mt-4 leading-relaxed">
          فروشگاه ما از اواسط ۲۰۲۳ با تمرکز روی خرید و فروش اسکین‌های CS2 شروع به کار کرد. به مرور آیتم‌های بازی‌هایی مثل Dota2 و کلیدهای TF2 و خدمات تلگرام را نیز اضافه کردیم تا تجربه‌ای کامل و مطمئن، هم در استیم و هم تلگرام، به شما ارائه دهیم. در سریع‌ترین زمان ممکن پاسخگو هستم و با محیطی امن و کمترین کارمزد، بهترین خدمات را فراهم می‌کنم.
        </p>
      </div>

    </div>
  </div>
</div>