<div class="w-full">
    <div class="w-[85%] md:w-[65%] mx-auto px-4 py-10">
        <div class="flex items-center p-5 text-stone-300 rounded-3xl bg-[#1E1E2A] shadow-xl/20">
            <div class="text-center">
                <h2 class="text-xl my-3 text-[#A78BFA] font-[Aradbold]">چطور می‌تونیم به شما کمک کنیم؟</h2>
                <p>اگر سوالی دارید یا به کمک در استفاده از خدمات نیاز دارید، با تیم تـــاز در تماس باشید. پشتیبانی 24/7 در دسترس شماست و با خوشحالی منتظر ارتباط شما برای رفع هر گونه نیاز یا سوالی خواهیم بود.</p>
                <div class="flex w-full justify-center mt-8 flex-col sm:flex-row gap-4 sm:gap-0">
                    <a class="sm:mx-5 rounded-md shadow-xl/20 bg-[#0F0F1A] hover:bg-[#1A1A2E] text-[#E4E4E7] py-2 px-6 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-violet-400" href="https://t.me/TahazuS" target="_blank" rel="noopener noreferrer">چت در تلگرام</a>
                    <a class="sm:mx-5 rounded-md shadow-xl/20 bg-[#0F0F1A] hover:bg-[#1A1A2E] text-[#E4E4E7] py-2 px-6 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-violet-400" href="tel:+989301713978">تماس تلفنی</a>
                </div>
            </div>
        </div>
    </div>
</div>